/** @format */
#orphan-notes-container {
  font-family: sans-serif;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  max-height: 100vh;
  overflow-y: hidden;
  border: 1px solid #000;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  font-size: 12px;
  color: #000;
  z-index: 99999;
  & > div {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    max-height: 30px;
    &:first-child {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .remove-orphan-btn {
    font-size: 12px;
    height: 26px;
    cursor: pointer;
    margin-top: 2px;
  }
}

.menu-wrapper {
  font-family: sans-serif;
  width: 200px;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  button {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 20px;
    font-weight: 600;
    &:hover {
      background: #e2c97f;
    }
    &:first-of-type {
      margin-top: 5px;
    }
  }
  & > div:first-child {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
  }
  & > label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    line-height: 20px;
    padding: 5px 0 0;
  }
}

.notebook-wrapper {
  background: repeating-linear-gradient(to bottom, #fff7aa 0px, #fff7aa 29px, #e2c97f 30px);
  padding: 0;
  & > div {
    line-height: 30px;
    font-size: 12px;
  }
}

.sticky-note-box,
.sticky-note-modal-box,
#orphan-notes-container {
  button {
    background: #e2c97f;
    border: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
    &:hover {
      background: #ccc;
    }
  }
  ul,
  ol {
    padding-left: 20px;
  }
}

.sticky-note-box {
  font-family: sans-serif;
  border-radius: 8px;
  position: absolute;
  z-index: 10001;
  min-width: 180px;
  max-width: 240px;
  pointer-events: auto;
  background: #fff7aa;
  border: 1px solid #000;
  color: #000;
  padding: 10px;
  font-size: 12px;
  button {
    display: block;
    margin: 10px 0 0 0;
  }
}
#sticky-note-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sticky-note-modal-box {
  background: #fff7aa;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 90%;
}
.sticky-note-dot {
  position: absolute;
  background: #fff7aa;
  border: 1px solid #000;
  color: #000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  pointer-events: auto;
}
/* dash styles */
#notezzz-dashboard {
  font-family: sans-serif;
  padding: 20px;
  background: #fff7aa;
  button,
  input {
    font-family: sans-serif;
    border-radius: 8px;
    box-sizing: border-box;
  }
  button {
    background: #e2c97f;
    border: 1px solid #ccc;
    padding: 4px 8px;
    cursor: pointer;
    &:hover {
      background: #ccc;
    }
  }
  .site-group {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    .note {
      margin-left: 10px;
      padding: 5px;
      background: #fdf6c3;
      border: 1px solid #ccc;
      border-radius: 8px;
      .selector {
        font-size: 12px;
        color: #777;
      }
    }
  }
  .import-export-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .action-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .pathname-group {
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .dash-note {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 4px 10px;
    background: #e2c97f;
    border: 1px solid #ccc;
    border-radius: 8px;
    & + .dash-note {
      margin-top: 4px;
    }
  }
  #notesContainer {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .accordion-header {
    font-family: sans-serif;
    cursor: pointer;
    font-weight: bold;
    background: #e2c97f;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    a {
      color: #000;
    }
  }
}
